<div class="chat-container">
  <div [hidden]="!(chat$ | async)" class="messages-container" #messageContainer>
    <ng-container *ngFor="let message of (chat$ | async)?.messages">
      <mat-card class="message" [class.user-message]="message.userId === currentUserId">
        <div style="display: flex; flex-direction: column;">
          <p>{{message.userId}}</p>
          <p>{{message?.content}}</p>
        </div>
      </mat-card>
      <p style="font-size: xx-small;" [style.text-align]="message.userId === currentUserId ? 'right' : ''">{{message.timestamp | date: 'shortTime'}}</p>
    </ng-container>
  </div>

  <div class="input-container">
    <mat-divider></mat-divider>
    <form (ngSubmit)="sendMessage()" style="width: 100%;">
      <mat-form-field>
        <input [(ngModel)]="content" name="content" matInput type="text" autocomplete="off">
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>

<ng-template #loading>yo</ng-template>
