.squadly-title {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    cursor: pointer;
  }
  
  .squadly-title-animate {
    animation: rightFadeInOut;
    animation-duration: 1s;
  }

  .user-btn{
      margin-top:15px;
      color: #AEAEAE;
  }
  
  
  @keyframes rightFadeInOut {
    0% {
      transform: translateX(42%);
    }
  
    100% {
      transform: translateX(0%);
    }
  
  }