.user-message {
  justify-content: flex-end;
}

.user-message::after {
  position: absolute;
  top: 0px;
  bottom: -3px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to right, #253bca, #e66465);
  content: '';
  z-index: -1;
  border-radius: 6px;
}

.message {
  margin-top: 30px;
  display: flex;
}
