<div style="display:flex; justify-content: center; width: 100%; height: 100%">
  <div style="display: flex; flex-direction: column; width: 30%; margin-top: 10%">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput value="">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput value="" type="password">
    </mat-form-field>

    <button mat-stroked-button style="margin-bottom: 20px; margin-top: 30px;">login</button>
    <button mat-stroked-button>new user</button>
  </div>
</div>
