<div class="home-container">
  <div>
    <button mat-stroked-button (click)="openCreateChatDialog()">
      create chat
    </button>
  </div>
  <div class="chats-container">
    <mat-card
      *ngFor="let chat of chats$ | async"
      style="max-width: 70%; margin-top: 1vh"
    >
      <div style="display: flex; justify-content: space-between">
        <p
          [routerLink]="['chat', chat.id]"
          routerLinkActive="router-link-active"
        >
          {{ chat.name }}
        </p>
        <button
          class="settings-container"
          mat-button
          [matMenuTriggerFor]="menu"
        >
          ...
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteChat(chat.id)">
            delete chat
          </button>
        </mat-menu>
      </div>
    </mat-card>
  </div>
</div>
