<div class="home-container">
  <div>
    <button mat-stroked-button (click)="openCreateChatDialog()">
      create chat
    </button>
  </div>
  <div class="chats-container">
    <mat-card *ngFor="let chat of chats$ | async" class="chat-card">
      <div class="chat-content" [routerLink]="['chat', chat.id]" routerLinkActive="router-link-active">
        <p>
          {{ chat.name }}
        </p>
      </div>
      <button class="settings-container" mat-button [matMenuTriggerFor]="menu"  class="chat-dropdown">
        ...
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)="deleteChat(chat.id)">
          delete chat
        </button>
      </mat-menu>
    </mat-card>
  </div>
</div>
