<div style="display:flex; justify-content: center; width: 100%; height: 100%;">

  <form style="display: flex; flex-direction: column; width: 30%; min-width: 200px; margin-top: 5%; margin-bottom: 10%;"
    [formGroup]="userForm">
    <h3>new user</h3>
    <mat-form-field>
      <mat-label>first name</mat-label>
      <input formControlName="firstName" matInput value="">
    </mat-form-field>

    <mat-form-field>
      <mat-label>last name</mat-label>
      <input formControlName="lastName" matInput value="">
    </mat-form-field>

    <div class="spacer"></div>

    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput formControlName="email" value="" type="email">
    </mat-form-field>

    <div class="spacer"></div>

    <mat-form-field>
      <mat-label>username</mat-label>
      <input matInput formControlName="username" value="">
    </mat-form-field>

    <div class="spacer"></div>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" value="" type="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput value="" type="password">
    </mat-form-field>

    <button class="spacer" mat-stroked-button (click)="createUser()">sign up</button>

  </form>


</div>
