.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  background-color: white;
  padding-top: 20px;
}

.title:hover {
  opacity: 0.8;
  cursor: pointer;
}

.settings-container {
  margin-right: 30px;
}