<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div>
        <p>hey</p>
        <p>hey</p>
        <p>hey</p>
      </div>
    </div>
    <div class="col-9">
      <div #messageContainer class="message-container" [style.height.px]="windowHeight">
        <div *ngFor="let message of messages | async">
          <app-message [message]="message" [user]="user"></app-message>
        </div>
      </div>
      <div class="container-fluid mt-3">
        <div class="row">
          <input #message class="text-input col-10">
          <button class="col-2 submit-button" (click)="submit(message.value)">send</button>
        </div>
      </div>
    </div>
  </div>
</div>
