<div class="container-fluid">
  <div class="row mt-5 mb-2">
    <div class="col-12 p-0">
      <app-squad></app-squad>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      <app-chat-card></app-chat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-3 offset-8">
      <button class="btn btn-success" (click)="newChat()">new chat</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
        <app-feed></app-feed>
    </div>
  </div>
</div>
